@import '../../styles/variables.scss';

.list_tasks{
    
    .my_tasks {
        max-width: 450px;
        width: 100%;
        // height: 446px;

        border: 1px solid rgba(234, 236, 240, 1);
        border-radius: 16px;
        
        margin-top: 40px;
        padding: 32px;

        .tasks_title{
            color: $primary-color;
            margin-inline: auto;
        }

        .tasks_items{
          list-style: none;
            .finished_task{
                color: $primary-color;
                text-align: center;
                margin: 24px 0;
            }

            .task_item {
                width: 100%;

                align-items: center;
                border: 1px dashed rgba(215, 221, 233, 1);
                border-radius: 8px;
                
                margin-top: 24px;
                padding: 16px;

                cursor: pointer;
                
                &:hover{
                    background-color: rgba(247, 249, 253, 1);
                    border-color: transparent;
                }
                

                input[type="checkbox"] {
                display: none;
                }
                
                .checkmark {
                width: 24px;
                height: 24px;
                
                border-radius: 4px;
                margin-right: 10px;

                position: relative;
                transition: background-color 0.3s ease;
                border: 1px solid rgba(176, 187, 209, 1);

                }
                
                input[type="checkbox"]:checked + .checkmark {
                background-color: rgba(160, 220, 246, 1);
                border: 1px solid rgba(7, 150, 211, 1);

                }
                
                .checkmark::after {
                content: "";
                position: absolute;
                display: none;
                left: 8px;
                top: 2px;

                width: 6px;
                height: 12px;

                border: solid rgba(7, 150, 211, 1);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                }
                
                input[type="checkbox"]:checked + .checkmark::after {
                display: block;
                }
                
                .text, .text_through_line {
                    color: $primary-color;
                }

                .text_through_line{
                    text-decoration: line-through;                            
                }

                .trash_element{
                    background-color: blue;
                    width: 20px;

                }

                .trash_area{
                    flex-grow: 1;
                    justify-content: flex-end;
                }

                .trash{
                    width: 20px;
                    height: 22px;
                    align-content: center;
                }
            }
            
        }
    }
}