@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

:root {
  --background: rgb(255, 255, 255);
}

html {
  font-size: 62.5%;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;

  font-size: 1.6rem;
  max-width: 1328px;
  width: 100%;
}

.m-auto {
  margin-inline: auto !important;
}

/* Flexbox Model */
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}